<Modal::Dialog class="edit-student-number-modal" @title="Édition du numéro étudiant" @display={{@display}} @close={{@close}}>
  <Modal::Body class="edit-student-number-modal__content">
    <p class="content-text">
      Numéro étudiant actuel : 
      <span class=" content-text--info">{{@student.studentNumber}}</span>
    </p>
    <p class="content-text">
      Nouveau numéro étudiant
    </p>
    <div>
      <Input
        id="studentNumber"
        name="studentNumber"
        @type="text"
        @value={{this.newStudentNumber}}
        class="input button--centered"
        placeholder="Exemple : {{@student.studentNumber}}"
        disabled={{false}}
      />
    </div>
  </Modal::Body>
  <Modal::Footer class="edit-student-number-modal__actions">
    <button type="button" class="button button--bordered-grey" {{on 'click' @close}}>Annuler</button>
    <button type="button" class="button" {{on 'click' (fn this.updateStudentNumber this.newStudentNumber)}}>Mettre à jour l'identifiant</button>
  </Modal::Footer>
</Modal::Dialog>
